<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thriendly: Fastest way to grow on threads, AI replys, threads dashboard and more</title>
    <link rel="stylesheet" href="assets/css/homepage/style.css">
    <link rel="stylesheet" href="assets/css/homepage/fontawesome.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="assets/js/homepage/bootstrap.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>
    <!-- ////////////////////////////////////////////////////////////////////////////////////////
                               START SECTION 1 - THE NAVBAR SECTION
/////////////////////////////////////////////////////////////////////////////////////////////-->
    <nav class="navbar navbar-expand-lg navbar-dark menu shadow fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                <b style="font-weight: 100px;"><i class="fas fa-bolt"></i> Thriendly</b>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="index.html">Home</a></li>
                    <!-- <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
          <li class="nav-item"><a class="nav-link" href="#testimonials">Testimonials</a></li>
          <li class="nav-item"><a class="nav-link" href="#faq">faq</a></li>
          <li class="nav-item"><a class="nav-link" href="#portfolio">portfolio</a></li>-->
                    <li class="nav-item"><a target="_blank" class="nav-link active"
                            href="https://forms.gle/TdYL3Bu31Q7UKtNs7">contact</a>
                    </li>
                </ul>
                <button type="button" id="openThreads" class="rounded-pill btn-rounded" onclick="openThrads()">
                    Thriendly on Threads
                    <span>
                        <i class="fas fa-share"></i>
                    </span>
                </button>
            </div>
        </div>
    </nav>

    <!-- /////////////////////////////////////////////////////////////////////////////////////////////////
                            START SECTION 2 - THE INTRO SECTION i.e. the MAIN CONTENT section
/////////////////////////////////////////////////////////////////////////////////////////////////////-->

    <section id="home" class="intro-section">
        {{ content }}
    </section>

    <!-- ///////////////////////////////////////////////////////////////////////////////////////////
                           START SECTION 9 - THE FOOTER
///////////////////////////////////////////////////////////////////////////////////////////////-->
    <footer class="footer">
        <div class="container  mt-10">
            <!-- START THE SOCIAL MEDIA CONTENT  -->
            <div class="footer-sm" style="background-color: #212121;">
                <div class="container">
                    <div class="row py-4 text-center text-white">
                        <div class="col-lg-5 col-md-6 mb-4 mb-md-0">
                            Connect with us on social media
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <a href="https://www.threads.net/@thetipseason/"><i class="fab fa-facebook"></i></a>
                            <a href="https://twitter.com/thetipseason"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.instagram.com/thetipseason"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- START THE COPYRIGHT INFO  -->
            <div class="footer-bottom pt-5 pb-5">
                <div class="container">
                    <div class="row text-center text-white">
                        <div class="col-12">
                            <div class="footer-bottom__copyright">
                                &COPY; Copyright 2024 <a href="#">Thriendly.com</a> | Created by <a
                                    href="http://tipseason.com" target="_blank">TipSeason</a><br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </footer>

    <!-- BACK TO TOP BUTTON  -->
    <a href="#" class="shadow btn-primary rounded-circle back-to-top">
        <i class="fas fa-chevron-up"></i>
    </a>


    <script src="assets/vendors/homepage/glightbox/js/glightbox.min.js"></script>

    <script type="text/javascript">
        const lightbox = GLightbox({
            'touchNavigation': true,
            'href': 'https://www.youtube.com/watch?v=J9lS14nM1xg',
            'type': 'video',
            'source': 'youtube', //vimeo, youtube or local
            'width': 900,
            'autoPlayVideos': 'true',
        });

        function openThrads() {
            window.location.href = 'https://www.threads.net/intent/follow?username=thetipseason';
        }

    </script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#subscribe-form').on('submit', function (event) {
                event.preventDefault();
                window.location.href = '/login';
            });
        });

    </script>
</body>

</html>